.section-gallery {
  padding: 60px 0;
}
.gallery-wrapper {
  columns: 4;
  gap: 16px;
  margin-top: 30px;
}
@media (max-width: 85.375em) {
  .gallery-wrapper {
    columns: 3;
  }
}
@media (min-width: 48.0625em) and (max-width: 75em) {
  .gallery-wrapper {
    columns: 2;
  }
}
@media (max-width: 48em) {
  .gallery-wrapper {
    columns: 1;
  }
}
/* @media (max-width: 37.5em) {
  .gallery-wrapper {
    columns: 1;
  }
} */
.gallery-wrapper .ant-image {
  margin-bottom: 16px;
}
