.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-item-img {
  width: 70px;
}
.services-item-img img {
  width: 100%;
}
.services-item-content h3,
.services-beforeafter h3 {
  color: #2a2a2a;
  font-size: 20px;
  text-align: center;
}
/* Before After */
div#comparison {
  width: 100%;
  height: 268px;
  overflow: hidden;
}
div#comparison figure {
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-before.jpg); */
  background-size: cover;
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
div#comparison figure > img {
  position: relative;
  width: 100%;
}
div#comparison figure div {
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-after.jpg); */
  background-size: cover;
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  position: absolute;
  width: 50%;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  bottom: 0;
  height: 100%;
}

input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: -2rem;
  left: -2%;
  background-color: rgba(179, 0, 0, 0.2);
  width: 102%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']:active {
  outline: none;
}

input[type='range']::-moz-range-track {
  -moz-appearance: none;
  height: 15px;
  width: 98%;
  background-color: rgba(179, 0, 0, 0.2);
  position: relative;
  outline: none;
}
input[type='range']::active {
  border: none;
  outline: none;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 15px;
  background: #b30000;
  border-radius: 0;
}
input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 15px;
  background: #b30000;
  border-radius: 0;
}
input[type='range']:focus::-webkit-slider-thumb {
  background: rgba(179, 0, 0, 0.5);
}
input[type='range']:focus::-moz-range-thumb {
  background: rgba(179, 0, 0, 0.5);
}
