@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: #4a4a4a;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #101010;
}
p {
  margin: 0;
}
